@font-face {
  font-family: 'Gagalin-Regular';
  src: url("../fonts/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lifehack-Medium';
  src: url("../fonts/Lifehack-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Light';
  src: url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.52;
}

body {
  margin: 0;
}

.container {
  width: 940px;
  margin: 0 auto;
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  min-width: 1120px;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

.section {
  height: 100vh;
  min-height: 649px;
}

.btn {
  display: block;
  padding: 7px 15px;
  color: #FFF;
  background: #c1401e;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  font-family: Ubuntu;
  font-size: 13px;
  width: 98px;
  height: 35px;
}

.btn:hover {
  background: #c54d2d;
}

.section__title {
  color: #f9b43b;
  font-family: 'Gagalin-Regular';
  font-size: 72px;
  font-weight: 500;
  margin-bottom: 20px;
}

.section__title-center {
  text-align: center;
}

.section__title-black {
  color: #000;
}

.section__title-left {
  text-align: left;
  color: #fff;
  margin-top: -223px;
}

.hero {
  background: url("../img/backrounds/hero.bg.png") center center/cover no-repeat;
  min-height: 649px;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Ubuntu;
  font-size: 13px;
}

.nav__item {
  display: flex;
  align-items: center;
}

.nav__item:after {
  content: "";
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background: #fff;
  display: block;
  margin: 0 10px;
  align-content: center;
}

.nav__item:last-child:after {
  display: none;
}

.header {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  margin-right: 64px;
  margin-left: 224px;
}

.nav__list {
  display: flex;
}

.hero__content {
  display: flex;
  align-items: center;
}

.hero__desc {
  color: #ffffff;
  font-family: 'Lifehack-Medium';
  font-size: 65px;
  line-height: 60px;
}

.hero__burger {
  min-width: 100%;
}

.hero__container {
  flex: 1;
  align-items: center;
}

.hero__inner_container {
  justify-content: flex-start;
}

.best {
  background: url("../img/backrounds/best.bg.png") center center/cover no-repeat;
  min-height: 649px;
}

.best__list {
  display: flex;
  justify-content: space-around;
}

.best__item {
  text-align: center;
}

.best__logo-picture {
  width: 73px;
  height: 85px;
  fill: #e25028;
}

.best__logo-picture-hand {
  fill: #f9c15f;
}

.best__logo-picture-natural {
  fill: #8ac03e;
}

.best__title {
  font-family: 'Lifehack-Medium';
  font-size: 24px;
  font-weight: 500;
  line-height: 28.14px;
  letter-spacing: -0.6px;
}

.best__text {
  font-family: 'Ubuntu-Light';
  font-size: 14px;
  font-weight: 300;
  line-height: 24.07px;
}

.burgers {
  background-color: #f9b43b;
  background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
}

.burger__title {
  font-family: 'Gagalin-Regular';
  font-size: 72px;
  font-weight: 400;
  color: #fff;
  line-height: 63.93px;
  margin-bottom: 20px;
}

.burger__text {
  color: #ffffff;
  font-family: 'Ubuntu-Light';
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
}

.burgers__container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.burger__price {
  color: #e35028;
  font-family: 'Gagalin-Regular';
  font-size: 30px;
  font-weight: 400;
}

.burger__cost {
  display: flex;
}

.burger__price {
  margin-right: 20px;
}

.team {
  background: url("../../img/backrounds/team.bg.png") top center/cover no-repeat;
  position: relative;
}

.team__container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  background: #3a3c3e;
  opacity: .93;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.acco__trigger {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-family: 'Gagalin-Regular';
  font-size: 14px;
  display: flex;
  align-items: center;
}

.acco__trigger-active {
  color: #f9b43b;
}

.acco__trigger:before {
  content: "";
  color: #f9b43b;
  display: block;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-top-color: #f9b43b;
  border-bottom-width: 0px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.acco_container {
  margin-top: -295px;
}

.acco__item-active .acco__content {
  display: flex;
}

.acco__item-active .acco__trigger {
  color: #f9b43b;
}

.acco__item-active .acco__trigger:before {
  transform: rotate(180deg);
}

.acco__content {
  display: none;
}

.acco_desc {
  margin-left: 26px;
}

.acco__picture-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.acco__title {
  color: #ffffff;
  font-family: 'Ubuntu-Light';
  font-size: 14px;
  font-weight: 700;
}

.acco__text {
  color: #ffffff;
  font-family: 'Ubuntu-Light';
  font-size: 14px;
  font-weight: 300;
}

.menu {
  background: url("../../img/backrounds/burgers.bg.png") center center/cover no-repeat;
  position: relative;
}

.container__menu {
  width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

.menu-list {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.menu-list__item {
  display: -ms-flexbox;
  display: flex;
}

.menu-list__item_active .menu-list__title {
  color: #f9b43b;
}

.menu-list__item_active .menu-list__content {
  max-width: 540px;
  padding: 62px 35px;
  visibility: visible;
  opacity: 1;
}

.menu-list__title {
  position: relative;
  width: 80px;
  font-family: 'Gagalin', sans-serif;
  font-size: 40px;
  color: #fff;
  line-height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  text-transform: uppercase;
}

.menu-list__title span {
  white-space: nowrap;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  -ms-transform: rotate(-90deg);
  transform: rotateZ(-90deg);
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

.menu-list__content {
  background-color: rgba(47, 50, 52, 0.929);
  color: #fff;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.714;
  max-width: 0px;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
  transition-property: max-width, opacity, visibility;
}

.review__item {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 50%;
  width: 25%;
  filter: grayscale(100%);
  position: relative;
}

.review__item:hover .reviews__hover {
  opacity: 1;
}

.review__list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.reviews__hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.order {
  background: url("../../img/backrounds/form.bg.png") center center/cover no-repeat;
}

.form label {
  color: #fff;
}

.form__input {
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
  width: 100%;
}

.form__row {
  display: flex;
}

.form__block {
  flex: 1;
  margin-right: 20px;
}

.form__info {
  color: #fff;
}

.form__container {
  display: flex;
  flex-wrap: nowrap;
}

.form__desc {
  width: 460px;
  height: 110px;
  resize: none;
  border-radius: 5px;
}

.temp {
  display: flex;
  flex-wrap: wrap;
}

.map {
  background: url("../../img/backrounds/map.bg.png") center center/cover no-repeat;
  display: flex;
  flex-direction: column;
}

.empty {
  height: 100%;
}

.footer {
  background: #000;
  min-height: 60px;
  width: 100%;
  color: #fff;
  font-size: 20px;
  position: relative;
}

.container__footer {
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.footer__social-list {
  display: flex;
}

.footer__adr {
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 14px;
  margin-top: 10px;
}

.footer__phone {
  font-family: "Ubuntu Light";
  font-weight: 300;
  color: #e45028;
  padding-top: 10px;
  display: block;
}

.footer__social-svg {
  width: 20px;
  height: 20px;
  fill: #fff;
  opacity: 0.3;
}

.footer__social-svg:hover {
  opacity: 1;
}

.footer__social {
  margin-top: 20px;
}

.footer__social-item {
  padding-right: 20px;
}
