@charset "UTF-8";
@font-face {
  font-family: "Gagalin";
  src: url("../fonts/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lifehack";
  src: url("../fonts/Lifehack-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu-Bold";
  src: url("../fonts/Ubuntu-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu-Light";
  src: url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu-Medium";
  src: url("../fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.section {
  height: 100vh;
  width: 100%;
  min-height: 649px;
  display: flex;
}

.section__title {
  color: #f9b43b;
  font-family: Gagalin;
  font-size: 72px;
  display: inline-block;
}

.container {
  width: 1100px;
  margin: auto;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.hero {
  background: url("../img/backrounds/hero.bg.png") center center/cover no-repeat;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__btn-lnk {
  text-transform: uppercase;
  background: #e45028;
  border-radius: 5px;
  width: 97px;
  height: 35px;
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 12px 13px;
  font-family: Ubuntu;
  font-size: 13px;
}

.hero__content {
  color: #fff;
  font-family: Lifehack;
  font-size: 65px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-content: center;
}

.nav {
  display: flex;
}

.nav__list, .nav__item {
  display: inline-block;
}

.nav__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-family: Ubuntu;
  font-size: 13px;
}

.nav__item::before {
  content: '·';
  height: 4px;
  width: 4px;
  border-radius: 50%;
  color: #fff;
  padding-right: 10px;
  padding-left: 10px;
}

.nav__item:first-child:before {
  display: none;
}

.best {
  background: url("../img/backrounds/best.bg.png") center center/cover no-repeat;
}

.section__title-best {
  color: #000;
  display: flex;
  justify-content: center;
}

.best__list, .best__item {
  display: inline-block;
}

.best__content {
  display: flex;
  justify-content: space-between;
}

.team {
  background: url("../img/backrounds/team.bg.png") top center/cover no-repeat;
}

.menu {
  background: url("../img/backrounds/burgers.bg.png") center center/cover no-repeat;
}

.comments {
  background: #000;
}

.form {
  background: url("../img/backrounds/form.bg.png") center center/cover no-repeat;
}

.map {
  background: url("../img/backrounds/map.bg.png") center center/cover no-repeat;
}

.footer {
  display: flex;
  align-self: flex-end;
  background: #111111;
  width: 100%;
  justify-content: space-between;
}

.footer__adress {
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 300;
}

.footer__phone {
  color: #e45028;
  font-family: 'Ubuntu';
}

.burger {
  background-color: #f9b43b;
  background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
}

/*# sourceMappingURL=main.css.map */
