@charset "UTF-8";
@font-face {
  font-family: 'Gagalin-Regular';
  src: url("../fonts/Gagalin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lifehack-Medium';
  src: url("../fonts/Lifehack-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Light';
  src: url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 0.9375rem;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 0.8125rem;
  }
}

html,
body {
  height: 100%;
}

body {
  font-size: 1rem;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  position: relative;
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 300;
  color: #2f3234;
}

.container {
  margin: 0 auto;
  position: relative;
  width: 95%;
  max-width: 58.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

.section {
  height: 100vh;
  min-height: 40.5625rem;
}

.btn {
  display: block;
  padding: 0.4375rem 0.9375rem;
  color: #FFF;
  background: #c1401e;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.3125rem;
  font-family: Ubuntu;
  font-size: 0.8125rem;
  width: 6.125rem;
  height: 2.1875rem;
}

.btn:hover {
  background: #c54d2d;
}

.section__title {
  color: #f9b43b;
  font-family: 'Gagalin-Regular';
  font-size: 4.5rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.section__title-center {
  text-align: center;
}

.section__title-black {
  color: #000;
}

.section__title-left {
  text-align: left;
  color: #fff;
}

.fixed-menu {
  position: fixed;
  top: 5.625rem;
  right: 2.5rem;
}

@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  display: block;
  position: relative;
}

.fixed-menu__link:after, .fixed-menu__link:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.fixed-menu__link:after {
  width: 0.375rem;
  height: 0.375rem;
  background: #fff;
}

.fixed-menu__link:before {
  width: 0rem;
  height: 0rem;
  border-radius: 50%;
  border: 0.0625rem solid #fff;
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.fixed-menu__link:hover:before {
  width: 0.875rem;
  height: 0.875rem;
  opacity: 1;
}

.fixed-menu__item.active .fixed-menu__link:before {
  width: 0.875rem;
  height: 0.875rem;
  opacity: 1;
}

.fixed-menu__item {
  margin-bottom: 0.3125rem;
}

.hero {
  background: url("../img/backrounds/hero.bg.png") center center/cover no-repeat;
  min-height: 40.5625rem;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Ubuntu;
  font-size: 0.8125rem;
}

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav__item:after {
  content: "";
  height: 0.25rem;
  width: 0.25rem;
  border-radius: 50%;
  background: #fff;
  display: block;
  margin: 0 0.625rem;
  -ms-flex-line-pack: center;
  align-content: center;
}

.nav__item:last-child:after {
  display: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2rem;
  margin-left: 14rem;
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .hero__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    padding: 0 20%;
  }
}

.hero__desc {
  color: #ffffff;
  font-family: 'Lifehack-Medium';
  font-size: 4.0625rem;
  line-height: 60px;
  max-width: 25.375rem;
}

.hero__burger {
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 100%;
  max-height: 100%;
}

.hero__container {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero__inner_container {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.down-arrow__icon {
  width: 2.5rem;
  height: 2.5rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  fill: #fff;
  margin-left: 50%;
}

.hamburger-menu-link {
  vertical-align: middle;
  position: relative;
  height: 1.375rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 1.875rem;
  display: none;
}

@media screen and (max-width: 768px) {
  .hamburger-menu-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hamburger-menu-link__bars, .hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  background: #fff;
  width: 1.5rem;
  height: 0.3125rem;
  border-radius: 0.1875rem;
}

.hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  content: "";
  display: block;
  position: absolute;
}

.hamburger-menu-link__bars:before {
  top: 0;
}

.hamburger-menu-link__bars:after {
  bottom: 0;
}

.hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(47, 50, 52, 0.99);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 100;
  display: none;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.hamburger-menu_visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
}

.hamburger-menu__logo {
  position: absolute;
  top: 0.625rem;
  left: 1.875rem;
}

.hamburger-menu__close {
  position: absolute;
  right: 0.9375rem;
  top: 0.9375rem;
  width: 1.125rem;
  height: 1.125rem;
  padding: 0.9375rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.hamburger-menu__close:hover .hamburger-menu__close-icon use {
  fill: #fff;
}

.hamburger-menu__close-icon {
  width: 100%;
  height: 100%;
}

.hamburger-menu__close-icon use {
  fill: #c1c2c2;
  -webkit-transition: fill .3s;
  -o-transition: fill .3s;
  transition: fill .3s;
}

.best {
  background: url("../img/backrounds/best.bg.png") center center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .best {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.best__item {
  text-align: center;
}

@media screen and (max-width: 480px) {
  .best__item {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 20px;
  }
}

.best__logo-picture {
  width: 4.5625rem;
  height: 5.3125rem;
  fill: #e25028;
}

.best__logo-picture-hand {
  fill: #f9c15f;
}

.best__logo-picture-natural {
  fill: #8ac03e;
}

.best__logo-picture-left-hand {
  -webkit-transform: rotate(-270deg);
  -ms-transform: rotate(-270deg);
  transform: rotate(-270deg);
}

.best__logo-picture-right-hand {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.best__logo-picture-burger-sostav {
  width: 46px;
  height: 46px;
  text-align: center;
  fill: #fff;
}

.best__logo-picture-dumbell {
  fill: #f8c682;
}

.best__title {
  font-family: 'Lifehack-Medium';
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.75875rem;
  letter-spacing: -0.0375rem;
}

.best__text {
  font-family: 'Ubuntu-Light';
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.50438rem;
}

.burgers {
  background-color: #f9b43b;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b), to(#f9b43b));
  background-image: -webkit-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-image: -o-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger__title {
  font-family: 'Gagalin-Regular';
  font-size: 4.5rem;
  font-weight: 400;
  color: #fff;
  line-height: 63.93px;
  margin-bottom: 1.25rem;
}

.burger__text {
  color: #ffffff;
  font-family: 'Ubuntu-Light';
  font-size: 0.875rem;
  font-weight: 300;
  margin-bottom: 1.25rem;
}

.burgers__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .burgers__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.burger__price {
  color: #e35028;
  font-family: 'Gagalin-Regular';
  font-size: 1.875rem;
  font-weight: 400;
}

.burger__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .burger__cost {
    margin-left: 40%;
  }
}

.burger__price {
  margin-right: 1.25rem;
}

@media screen and (max-width: 768px) {
  .left__arrow {
    margin-top: -7.5rem;
    position: absolute;
    margin-left: -15.625rem;
  }
}

@media screen and (max-width: 768px) {
  .right_arrow {
    position: absolute;
    margin-top: -8.25rem;
    margin-left: 17.375rem;
  }
}

@media screen and (max-width: 768px) {
  .burger__content {
    text-align: center;
  }
}

.burger__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  left: 6.625rem;
}

@media screen and (max-width: 768px) {
  .burger__icons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 80%;
    height: 6.25rem;
    position: absolute;
    top: 1.25rem;
  }
}

.burger__icons-burger {
  border: 1px solid none;
  height: 5.625rem;
  width: 5.625rem;
  border-radius: 5px;
  background: #c1401e;
  text-align: center;
  margin-top: 1.25rem;
  fill: #fff;
}

.burger__icons-burger:after {
  content: "состав";
  text-transform: uppercase;
  margin-top: -2px;
  color: #fff;
}

.burger__icons-kkal {
  text-align: center;
  margin-bottom: 4.6875rem;
}

.burger__icons-kkal:after {
  content: "ккал";
  position: relative;
  text-transform: uppercase;
  color: #fff;
  display: block;
}

.team {
  background: url("../../img/backrounds/team.bg.png") top center/cover no-repeat;
  position: relative;
}

.team__container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  background: #3a3c3e;
  opacity: .93;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .team__container {
    width: 100%;
  }
}

.acco__trigger {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-family: 'Gagalin-Regular';
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.acco__trigger-active {
  color: #f9b43b;
}

.acco__trigger:before {
  content: "";
  color: #f9b43b;
  display: block;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-top-color: #f9b43b;
  border-bottom-width: 0px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.acco__item-active .acco__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.acco__item-active .acco__trigger {
  color: #f9b43b;
}

.acco__item-active .acco__trigger:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.acco__content {
  display: none;
}

@media screen and (max-width: 768px) {
  .acco__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.acco_desc {
  margin-left: 26px;
}

@media screen and (max-width: 768px) {
  .acco_desc {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .acco__picture {
    text-align: center;
  }
}

.acco__picture-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.acco__title {
  color: #ffffff;
  font-family: 'Ubuntu-Light';
  font-size: 14px;
  font-weight: 700;
}

.acco__text {
  color: #ffffff;
  font-family: 'Ubuntu-Light';
  font-size: 14px;
  font-weight: 300;
}

.menu {
  background: url("../../img/backrounds/burgers.bg.png") center center/cover no-repeat;
  position: relative;
}

.container__menu {
  width: 60rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  margin: auto;
}

.menu-list {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
}

.menu-list__item {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

.menu-list__item_active .menu-list__title {
  color: #f9b43b;
}

.menu-list__item_active .menu-list__content {
  max-width: 33.75rem;
  padding: 3.875rem 2.1875rem;
  visibility: visible;
  opacity: 1;
}

.menu-list__title {
  position: relative;
  width: 5rem;
  font-family: 'Gagalin', sans-serif;
  font-size: 2.5rem;
  color: #fff;
  line-height: 5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  text-transform: uppercase;
}

.menu-list__title span {
  white-space: nowrap;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.menu-list__content {
  background-color: rgba(47, 50, 52, 0.929);
  color: #fff;
  font-size: 0.875rem;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.714;
  max-width: 0rem;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-property: max-width, opacity, visibility;
  -o-transition-property: max-width, opacity, visibility;
  transition-property: max-width, opacity, visibility;
}

.review__item {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 50%;
  width: 25%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: relative;
}

.review__item:hover .reviews__hover {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .review__item {
    height: 25%;
    width: 50%;
    background-position: top center;
  }
}

.review__list {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.reviews__hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
}

@media screen and (max-width: 480px) {
  .reviews__hover {
    display: none;
  }
}

.reviews__title {
  color: #ffffff;
  font-family: 'Gagalin-Regular';
  font-size: 0.875rem;
  font-weight: 400;
  padding: 3.125rem 1.1875rem;
}

.reviews__text {
  color: #ffffff;
  font-family: 'Ubuntu-Light';
  font-size: 0.875rem;
  font-weight: 300;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: justify;
  width: 76%;
  margin-left: 1.1875rem;
  margin-top: -2.5rem;
}

.btn-dark {
  width: 6.875rem;
  height: 2.1875rem;
  margin-left: 1.25rem;
  margin-top: 1.25rem;
}

.order {
  background: url("../../img/backrounds/form.bg.png") center center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form label {
  color: #fff;
}

.form__input {
  border: none;
  border-radius: 0.3125rem;
  padding: 0.5rem 1.25rem;
  width: 100%;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__block {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 1.25rem;
}

.form__info {
  color: #fff;
}

.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

@media screen and (max-width: 768px) {
  .form__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.form__desc {
  width: 28.75rem;
  height: 6.875rem;
  resize: none;
  border-radius: 0.3125rem;
}

@media screen and (max-width: 768px) {
  .form__desc {
    width: 100%;
  }
}

.temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.btn-clear {
  border: none;
  text-transform: none;
  background: transparent;
}

.btn-clear:hover {
  background: transparent;
}

.temp_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1.25rem;
}

.map {
  background: url("../../img/backrounds/map.bg.png") center center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.empty {
  height: 100%;
  min-height: 37rem;
}

@media screen and (max-width: 768px) {
  .empty {
    min-height: 40rem;
  }
}

.footer {
  background: #000;
  min-height: 3.75rem;
  width: 100%;
  color: #fff;
  font-size: 1.25rem;
  position: relative;
}

.container__footer {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__adr {
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 0.875rem;
  margin-top: 0.625rem;
}

.footer__phone {
  font-family: "Ubuntu Light";
  font-weight: 300;
  color: #e45028;
  padding-top: 0.625rem;
  display: block;
}

.footer__social-svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: #fff;
  opacity: 0.3;
}

.footer__social-svg:hover {
  opacity: 1;
}

.footer__social {
  margin-top: 1.25rem;
}

.footer__social-item {
  padding-right: 1.25rem;
}

/*# sourceMappingURL=main.css.map */