.nav{
    display: flex;    
}

.nav__list, .nav__item{
    display: inline-block;
}

.nav__link{
    text-transform: uppercase;
    text-decoration: none;
    color:$white;
    font-family: Ubuntu;
    font-size: 13px;
}


.nav__item::before{
    content: '·'; 
    height: 4px;
    width: 4px;
    border-radius: 50%;
    color:$white;
    padding-right: 10px;
    padding-left: 10px;
}

.nav__item:first-child:before{
    display: none;
}