html {
    @include tablets {
        font-size: rem(15px);
    }
    @include phones {
        font-size: rem(13px);
    }
}

html,
body {
    height: 100%;
}

body {
    font-size: rem(16px);
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    position: relative;
    @include ubuntu();
    color: $black;
}

.container {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 95%;
    max-width: rem(940px);
    display: flex;
    flex-direction: column;
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    // min-width: 1100px + 20px;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}

p {
    margin: 0;
    padding: 0;
}

.section {
    height: 100vh;
    min-height: rem(649px);
    // position: relative;
}

.btn {
    display: block;
    padding: rem(7px) rem(15px);
    color: #FFF;
    background: $btnOrange;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: rem(5px);
    font-family: Ubuntu;
    font-size: rem(13px);
    width: rem(98px);
    height: rem(35px);
    &:hover {
        background: $btnHovered;
    }
}

.section__title {
    // display: flex;
    color: $yellow;
    font-family: 'Gagalin-Regular';
    font-size: rem(72px);
    font-weight: 500;
    margin-bottom: rem(20px);
    &-center {
        text-align: center;
    }
    &-black {
        color: #000;
    }
    &-left {
        text-align: left;
        color: #fff;
    }
}

@mixin cover() {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}