.best {
    background: url("../img/backrounds/best.bg.png") center center/cover no-repeat;
    display: flex;
    align-items: center;
    @include tablets() {
        flex-direction: column;
    }
}

.best__list {
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    @include widephone() {
        flex-direction: column;
    }
}

.best__item {
    text-align: center;
    @include phones() {
        text-align: center;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }
}

.best__logo-picture {
    width: rem(73px);
    height: rem(85px);
    fill: #e25028;
    &-hand {
        fill: #f9c15f;
    }
    &-natural {
        fill: #8ac03e;
    }
    &-left-hand {
        transform: rotate(-270deg);
    }
    &-right-hand {
        transform: rotate(270deg);
    }
    &-burger-sostav {
        width: 46px;
        height: 46px;
        text-align: center;
        fill: #fff;
    }
    &-dumbell {
        fill: #f8c682;
    }
}

.best__title {
    font-family: 'Lifehack-Medium';
    font-size: rem(24px);
    font-weight: 500;
    line-height: rem(28.14px);
    letter-spacing: rem(-0.6px);
}

.best__text {
    font-family: 'Ubuntu-Light';
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24.07px);
}