.hero {
    background: url("../img/backrounds/hero.bg.png") center center/cover no-repeat;
    min-height: rem(649px);
}

.nav__link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Ubuntu;
    font-size: rem(13px);
}

.nav__item {
    display: flex;
    align-items: center;
    &:after {
        content: "";
        height: rem(4px);
        width: rem(4px);
        border-radius: 50%;
        background: #fff;
        display: block;
        margin: 0 rem(10px);
        align-content: center;
    }
    &:last-child:after {
        display: none;
    }
}

.header {
    display: flex;
    align-items: center;
    @include tablets() {
        justify-content: space-between;
    }
}

.header__links {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    margin-right: 2rem;
    margin-left: rem(224px);
    @include tablets() {
        display: none;
    }
}

.nav__list {
    display: flex;
}

.hero__content {
    height: 100%;
    display: flex;
    align-items: center;
    @include tablets {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 20%;
    }
}

.hero__desc {
    color: #ffffff;
    font-family: 'Lifehack-Medium';
    font-size: rem(65px);
    line-height: 60px;
    max-width: rem(406px);
}

.hero__burger {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    max-height: 100%;
}

.hero__container {
    flex: 99;
    align-items: center;
}

.hero__inner_container {
    justify-content: flex-start;
}

.down-arrow__icon {
    width: rem(40px);
    height: rem(40px);
    transition: .3s;
    fill: #fff;
    margin-left: 50%;
}

// .hero__content-pic {
//     @include tablets {
//         margin-top: rem(-120px);
//     }
// }