.hero {
    background: url("../img/backrounds/hero.bg.png") center center/cover no-repeat;
    min-height: 649px;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Ubuntu;
    font-size: 13px;
}

.nav__item {
    display: flex;
    align-items: center;
    &:after {
        content: "";
        height: 4px;
        width: 4px;
        border-radius: 50%;
        background: #fff;
        display: block;
        margin: 0 10px;
        align-content: center;
    }
    &:last-child:after {
        display: none;
    }
}

.header {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    margin-right: 64px;
    margin-left: 224px;
}

.nav__list {
    display: flex;
}

.hero__content {
    display: flex;
    align-items: center;
}

.hero__desc {
    color: #ffffff;
    font-family: 'Lifehack-Medium';
    font-size: 65px;
    line-height: 60px;
}

.hero__burger {
    min-width: 100%;
}

.hero__container {
    flex: 1;
    align-items: center;
}

.hero__inner_container {
    justify-content: flex-start;
}