.map {
    background: url("../../img/backrounds/map.bg.png") center center/cover no-repeat;
    display: flex;
    flex-direction: column;
}

.empty {
    // flex-flow: 1;
    height: 100%;
}

.footer {
    background: #000;
    min-height: 60px;
    width: 100%;
    color: #fff;
    font-size: 20px;
    position: relative;
    // display: flex;
}

.container__footer {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.footer__social-list {
    display: flex;
}

.footer__adr {
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 14px;
    margin-top: 10px;
}

.footer__phone {
    font-family: "Ubuntu Light";
    font-weight: 300;
    color: #e45028;
    padding-top: 10px;
    display: block;
}

.footer__social-svg {
    width: 20px;
    height: 20px;
    fill: #fff;
    opacity: 0.3;
}

.footer__social-svg:hover {
    opacity: 1;
}

.footer__social {
    margin-top: 20px;
}

.footer__social-item {
    padding-right: 20px;
}