.map {
    background: url("../img/backrounds/map.bg.png") center center/cover no-repeat;
    display: flex;
    flex-direction: column;
}

.empty {
    // flex-flow: 1;
    height: 100%;
    // min-height: 37rem;
    @include tablets {
        min-height: 40rem;
    }
}





