.modalWindow,
.modalOrder {
    display: none;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .5);
}

.modalWindow__content {
    margin: 15% auto;
    padding: 15px;
    border: 1px solid #888;
    background-color: #ffffff;
    height: 12rem;
    width: rem(463px);
    &-order {
        width: rem(199px);
        height: rem(109px);
    }
}

.modal__text {
    margin-top: rem(26px);
    font-family: 'Ubuntu-Light';
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.title-author {
    color: #2f3234;
    font-family: 'Gagalin-Regular';
    font-size: 14px;
    font-weight: 400;
}

.modalWindow__title-contaner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}