.order {
    background: url("../img/backrounds/form.bg.png") center center/cover no-repeat;
    display: flex;
    align-items: center;
}

.form label {
    color: #fff;
}

.form__input {
    border: none;
    border-radius: rem(5px);
    padding: rem(8px) rem(20px);
    width: 100%;
}

.form__row {
    display: flex;
}

.form__block {
    flex: 1;
    margin-right: rem(20px);
}

.form__info {
    color: #fff;
}

.form__container {
    display: flex;
    flex-wrap: nowrap;
    @include tablets() {
        flex-direction: column;
    }
}

.form__desc {
    width: rem(460px);
    height: rem(110px);
    resize: none;
    border-radius: rem(5px);
    @include tablets() {
        width: 100%;
    }
}

.temp {
    display: flex;
    flex-wrap: wrap;
}

.btn-clear {
    border: none;
    text-transform: none;
    background: transparent;
    &:hover {
        background: transparent;
    }
}

.temp_container {
    display: flex;
    align-items: center;
    margin-bottom: rem(20px);
}