.review__item {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 50%;
    width: 25%;
    filter: grayscale(100%);
    position: relative;
    &:hover {
        .reviews__hover {
            opacity: 1;
        }
    }
    @include tablets() {
        height: 25%;
        width: 50%;
        background-position: top center;
    }
}

.review__list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.reviews__hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(#000, .4);
    opacity: 0;
    @include phones() {
        display: none;
    }
}

.reviews__title {
    color: #ffffff;
    font-family: 'Gagalin-Regular';
    font-size: rem(14px);
    font-weight: 400;
    padding: rem(50px) rem(19px);
}

.reviews__text {
    color: #ffffff;
    font-family: 'Ubuntu-Light';
    font-size: rem(14px);
    font-weight: 300;
    align-items: center;
    text-align: justify;
    width: 76%;
    margin-left: rem(19px);
    margin-top: rem(-40px);
}

.btn-dark {
    width: rem(110px);
    height: rem(35px);
    margin-left: rem(20px);
    margin-top: rem(20px);
}