.team {
    background: url("../../img/backrounds/team.bg.png") top center/cover no-repeat;
    position: relative;
}

.team__container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background: #3a3c3e;
    opacity: .93;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.acco__trigger {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-family: 'Gagalin-Regular';
    font-size: 14px;
    display: flex;
    align-items: center;
    &-active {
        color: $yellow;
    }
    &:before {
        content: "";
        color: $yellow;
        display: block;
        height: 0;
        width: 0;
        border: 5px solid transparent;
        border-top-color: $yellow;
        border-bottom-width: 0px;
        margin-bottom: 10px;
        margin-right: 10px;
    }
}

.acco_container {
    margin-top: -295px;
}

.acco__item-active {
    .acco__content {
        display: flex;
    }
    .acco__trigger {
        color: $yellow;
        &:before {
            transform: rotate(180deg);
        }
    }
}

.acco__content {
    display: none;
}

.acco_desc {
    margin-left: 26px;
}

.acco__picture-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.acco__title {
    color: #ffffff;
    font-family: 'Ubuntu-Light';
    font-size: 14px;
    font-weight: 700;
}

.acco__text {
    color: #ffffff;
    font-family: 'Ubuntu-Light';
    font-size: 14px;
    font-weight: 300;
}